@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100vw;
  height: 100vh;
  margin-bottom: 20px;
  background-image: url(./images/bg-hero-desktop.svg);
  object-fit: fill;
  background-color: hsl(193, 100%, 96%);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 30px 70px;
}
nav .button .nav-btn {
  padding: 15px;
  width: 200px;
  background-color: white;
  border: transparent;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
nav .button .nav-btn:hover {
  letter-spacing: 0.5px;
}
header .containers .left {
  width: 45%;
  padding-right: 50px;
}
header .containers .right {
  width: 55%;
  padding: 50px 0;
}
header .containers .right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  bottom: 45px;
}
header .containers {
  position: relative;
  top: 100px;
  padding: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .containers .left .headings {
  position: relative;
  bottom: 35px;
}
header .containers .left h1 {
  font-size: 40px;
  color: hsl(192, 100%, 9%);
  padding: 15px 15px 15px 0;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 50px;
  text-transform: capitalize;
}
header .containers .left h4 {
  color: hsl(192, 100%, 9%);
  font-size: 15.5px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 15px 15px 0;
  margin-bottom: 10px;
}
header .containers .left button {
  width: 300px;
  padding: 18px;
  color: white;
  margin-top: 10px;
  background-color: hsl(322, 100%, 66%);
  border: transparent;
  border-radius: 25px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px hsl(322, 100%, 66%),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
header .containers .left button:hover {
  background-color: hsla(322, 100%, 66%, 0.93);
}
main .boxes {
  display: block;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
main .boxes #box {
  cursor: default;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 400px;
  padding: 100px;
  background-color: white;
  margin: 50px 100px;
  position: relative;
  right: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(77, 77, 77, 0.289),
    -3px -3px 10px rgba(224, 219, 219, 0.334);
}
main .boxes #box:hover {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #f0f0f078,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
main .boxes #box .images {
  width: 50%;
}
main .boxes #box .texts {
  width: 50%;
}
main .boxes #box .images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  padding: 30px;
  margin: 10px 10px;
}
main .boxes #box .texts h1 {
  font-size: 25px;
  font-weight: 900;
  padding: 5px 5px 5px 0;
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
  margin-right: 100px;
  white-space: nowrap;
}
main .boxes .second-box .texts h1 {
  font-size: 25px;
  font-weight: 900;
  padding: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
  margin-left: 70px;
  white-space: nowrap;
}
main .boxes #box .texts h3 {
  margin-left: 70px;
  padding: 5px 0px 5px 0px;
  font-family: "Open Sans", sans-serif;
  color: hsl(208, 11%, 55%);
  font-weight: 500;
  font-size: 14px;
  text-shadow: 0 0 1px hsl(208, 11%, 55%);
}
main .boxes #box .texts p {
  margin-right: 100px;
  font-family: "Open Sans", sans-serif;
  color: hsl(208, 11%, 55%);
  font-weight: 500;
  font-size: 14px;
  padding: 5px 5px 5px 0;
  text-shadow: 0 0 1px hsl(208, 11%, 55%);
}
aside{
    width: 50%;
    height: 250px;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    position: relative;
    top: 100px;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(77, 77, 77, 0.289), -3px -3px 10px rgba(224, 219, 219, 0.334);
}
aside .aside-content{
    position: relative;
    top: 15%;
    bottom: 15%;
    padding: 10px;
}
aside .aside-content h1{
    color: hsl(192, 100%, 9%);
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    padding: 25px;
}
aside .aside-content button{
    padding: 25px;
    width: 50%;
    background-color: hsl(322, 100%, 66%);
    border:transparent;
    border-radius: 35px;
    font-size: 17px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px hsl(322, 100%, 66%),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
aside .aside-content button:hover{
    background-color: hsla(322, 100%, 66%, 0.93);
}
aside:hover{
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px #f0f0f078,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

footer{
    width: 100vw;
    height: 85vh;
    background-color: hsl(192, 100%, 9%);
    padding: 200px 100px;
    font-family: "Open Sans", sans-serif;
}
.lists{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lists .list1{
  width: 30%;
  display: flex;
}
.lists .list1 .add-text{
  color: #ffffff;
  padding: 10px 20px;
  font-size: 13px;
}
.lists .list1 .address{
  color: #ffffff;
  padding: 10px 0px;
}
.lists .list2{
  width: 20%; 
  margin-left: 50px;
}
.lists .list2 li{
  padding: 10px 5px 5px 5px;
  font-size: 12px;
}
.lists .list3{
  width: 20%;
}
.lists .list3 li{
  padding: 10px 5px 5px 5px;
  font-size: 12px;
}
.lists .icons{
  padding: 10px 5px 5px 5px;
  width: 30%;
}
.lists .icons a{
  padding: 4px 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 100%;
}
ul{
  list-style: none;
  display: block;
}
ul li{
  display: flex;
}
a{
  text-decoration: none;
  color: #ffffff;
}
.footer-logo{
  padding: 10px 0;
}
.icons a:hover{
  transform: translateY(-3px)
}
.icons a:nth-child(1):hover{
  color: #4267B2;
  border: 1px solid #4267B2;
}
.icons a:nth-child(2):hover{
  color: #00acee;
  border: 1px solid #00acee;
}
.icons a:nth-child(3):hover{
  color: #cd486b;
  border: 1px solid #cd486b;
}
small{
  color: #ffffff;
  float: right;
  font-size: 9px;
}
@media screen and (max-width:375px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bg-hero-mobile.svg);
    background-color: hsl(193, 100%, 96%);
    object-fit: fill;
    background-position: center center;
    background-size: contain;
    display:block;
    flex: none;
    align-items: center;
    justify-content: center;
  }
  nav {
    position: absolute;
    top: 0;
    left: 0;
    justify-content:space-between;
    padding: 20px;
  }
  nav .button .nav-btn {
    padding: 5px;
    width: 120px;
    background-color: white;
    border: transparent;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 25px;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    color: hsl(192, 100%, 9%);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  nav .logo{
    width: 120px;
   
  }
  nav .logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  }
  header .containers {
    position: relative;
    top: 100px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .containers .left {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
  }
  header .containers .left h1 {
    font-size: 27px;
    color: hsl(192, 100%, 9%);
    line-height: 35px;
    padding: 10px 0 0px 0;
    margin-bottom: 15px;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
  }
  header .containers .left h4 {
    color: hsl(192, 100%, 9%);
    font-size: 17px;
    font-weight: lighter;
    font-family: "Open Sans", sans-serif;
    padding: 0px 15px 15px 0;
    margin-bottom: 10px;
  }
  header .containers .left button {
    width: 270px;
    padding: 15px;
    color: white;
    margin: 10px;
    background-color: hsl(322, 100%, 66%);
    border: transparent;
    border-radius: 25px;
    font-weight: light;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px hsl(322, 100%, 66%), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    header .containers .right {
      width: 85%;
      padding: 30px 0;
    }
    main{
      margin:10px;
      align-items: center;
      justify-content: center;
    }
    main .boxes #box {
      cursor: default;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 99%;
      height: 500px;
      padding: 10px 0px;
      background-color: white;
      margin: 20px 10px 20px 20px;
      position: relative;
      right: 0;
      border-radius: 20px;
      box-shadow: 3px 3px 10px rgba(77, 77, 77, 0.289),
        -3px -3px 10px rgba(224, 219, 219, 0.334);
    }
    main .boxes #box .images {
      width: 100%;
      padding: 0 10px;
      position: relative;
    }
    main .boxes #box .texts {
      width: 100%;
      text-align: center;
    }
    main .boxes #box .images img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative;
      padding: 10px;
      margin: 10px 10px;
    }
    main .boxes #box .texts h1 {
      font-size: 24px;
      font-weight: 900;
      padding: 5px 10px 5px 10px;
      font-family: "Poppins", sans-serif;
      color: hsl(192, 100%, 9%);
      margin-right: 0;
      white-space: nowrap;
    }
    main .boxes #box .texts p {
      margin-right: 0;
      font-family: "Open Sans", sans-serif;
      color: hsl(208, 11%, 55%);
      font-weight: light;
      font-size: 14px;
      padding: 5px 10px 5px 10px;
      text-shadow: 0 0 0;
    }
    main .boxes .second-box .texts h1 {
      font-size: 24px;
      font-weight: 900;
      padding: 5px 10px 5px 10px;
      font-family: "Poppins", sans-serif;
      color: hsl(192, 100%, 9%);
      margin-left: 0;
      white-space: nowrap;
    }
    main .boxes #box .texts h3 {
      margin-left: 0;
      padding: 5px 10px 5px 10px;
      font-family: "Open Sans", sans-serif;
      color: hsl(208, 11%, 55%);
      font-weight: light;
      font-size: 14px;
      text-shadow: 0 0 0;
    }
    aside{
      width: 99%;
      height: 140px;
      display: block;
      text-align: center;
      align-items: center;
      margin: auto;
      position: relative;
      top: 80px;
      justify-content: center;
      background-color: white;
      border-radius: 20px;
      box-shadow: 3px 3px 10px rgba(77, 77, 77, 0.289), -3px -3px 10px rgba(224, 219, 219, 0.334);
  }
  aside .aside-content{
    position: relative;
    top: 5%;
    bottom: 1%;
    padding: 5px;
}
aside .aside-content h1{
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  padding: 15px 0;
  white-space: nowrap;}
  aside .aside-content button{
    padding: 15px;
    width: 70%;
    background-color: hsl(322, 100%, 66%);
    border:transparent;
    border-radius: 35px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px hsl(322, 100%, 66%),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
footer{
  width: 100vw;
  height: 120vh;
  background-color: hsl(192, 100%, 9%);
  padding: 150px 10px 30px 10px;
  font-family: "Open Sans", sans-serif;
}
.lists{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.lists .list1{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.lists .list2{
  width: 100%; 
  margin-left: 0;
}
.lists .list3{
  width: 100%;
  margin-bottom: 20px;
}
.lists .icons{
  padding: 10px 5px 5px 5px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
small{
  color: #ffffff;
  float: none;
  margin-left: 80px;
  font-size: 9px;
}
}   